---
---

@import "minima";

body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: "Fira Code", monospace;
}

.site-header {
  background-color: #161b22;
  border-bottom: 1px solid #30363d;
}

.site-nav .page-link {
  color: #c9d1d9;
}

a {
  color: #58a6ff;
}
